# Archivos compilados
/target/
/out/
*.class
*.log

# Configuración de Maven
.mvn/
!mvnw
!mvnw.cmd

# Configuraciones de IDEs
.idea/
*.iml

# Archivos del sistema
.DS_Store

# NetBeans
/nbproject/private/

# STS
.springBeans
.factorypath
.settings
